#--- our stuff:
*~
conclusions/
img/*.pdf
img/*.png
prestudy/pdf/
prestudy/testdata.git
results/
tex/*.out
tex/*.pdf
tex/relatedworks/
volumes/*/*.pdf
volumes/log/
.RData
.Rhistory
.DS_Store
#*#

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log

.idea/

#--- general Python stuff
__pycache__/
env/
profile_default/
venv/
.coverage
.coverage.*
.cache
.mypy_cache/
.python-version
.env
.venv
ipython_config.py
pip-log.txt
#Pipfile.lock

#--- IDE stuff
.vscode/*
.DS_Store
